<div class="card">

    <div class="col-md-12">

        <div>
            <img class="mx-auto d-block albumCover" src="{{album.albumCover}}" />

        </div>

        <h5 class="cardHeader">
            {{album.albumName}}</h5>

        <h5 class="cardHeader">
            {{album.artistName}}</h5>

    </div>

    <div class="row">
        <div class="col-md-6 col-xs-6 col-sm-6">
            <p class="albumText">{{album.genre}}</p>
        </div>
        <div class="col-md-6 col-xs-6 col-sm-6">
            <p class="albumText">{{album.yearOfRelease}}</p>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12">
            <div class="text-center">
                <a target="_blank" href="{{album.spotifyLink}}" class="btn btn-primary spotifyButton">Open in Spotify</a>
            </div>


        </div>

        <div class="col-md-12">

            <div class="text-center">
                {{#if editingmode.editingMode}}
                <a href="">Edit Album</a>
                {{/if}}
            </div>


        </div>

    </div>



</div>