$linkfirePrimary: #FC3429;
$spotifyColour:#1DB954;

body {
  margin: 0px;
}


.header {
  background: $linkfirePrimary;
  height: 60px;
}

.headerText {
  text-align: center;
  margin-top: 10px;
}

.inputContainer {
  margin: 10px;

}

.headerItemsContainer {
  float: right;
}

.headerItemsList {
  margin-top: 15px;
}

.searchInput {
  border-radius: 5px;
  padding: 5px;
}

.rowHeader {
  border-bottom: 1px solid black;
}


.card {
  border: 1px solid silver;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  .cardHeader {
    text-align: center;
  }

  .albumCover {
    margin-top: 10px;
    width: 75px;
    height: 75px;
  }

  .albumText {
    text-align: center;
  }

  .spotifyButton {
    background: $spotifyColour;
    margin-bottom: 5px;
  }

  .spotifyButton:hover {
    background: rgb(18, 99, 46);
  }
}

.addMusicContainer {
  border: 1px solid silver;
}

.formLabel {
  font-weight: bold;
}

.saveButton {
  color: white !important;
  float: right;
  margin: 5px;
  margin-bottom: 10px;
}

.clearButton {
  color: white !important;
  float: right;
  margin: 5px;
  margin-bottom: 10px;
}

@import "ember-bootstrap/bootstrap";
