<h2 class="headerText">Add Music</h2>


<div class="row">
    <div class="container addMusicContainer">
        <div class="row">
            <br>
            <div class="col-md-6 col-xs-6 col-sm-6">

                <div class="form-group">
                    <label class="formLabel" for="albumName"> Album Name</label>
                    {{input type="text" class="form-control" value=albumName id="albumName" placeholder=""}}
                </div>
                <div class="form-group">
                    <label class="formLabel" for="albumName"> Genre</label>
                    {{input type="text" class="form-control" value=genre id="genre" placeholder=""}}
                </div>
                <div class="form-group">
                    <label class="formLabel" for="spotifyLink"> Spotify Link</label>
                    {{input type="text" class="form-control" value=spotifyLink id="spotifyLink" placeholder=""}}
                </div>

            </div>
            <div class="col-md-6 col-xs-6 col-sm-6">

                <div class="form-group">
                    <label class="formLabel" for="artistName"> Artist Name</label>
                    {{input type="text" class="form-control" value=artistName id="artistName" placeholder=""}}
                </div>
                <div class="form-group">
                    <label class="formLabel" for="albumCover"> Album Cover</label>
                    {{input type="text" class="form-control" value=albumCover id="albumLabel" placeholder=""}}
                </div>
                <div class="form-group">
                    <label class="formLabel" for="year"> Year of Release</label>
                    {{input type="text" class="form-control" value=yearOfRelease id="yearOfRelease" placeholder=""}}
                </div>

            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">

                <a {{action 'save'}} class="btn btn-success saveButton">
                    Save
                </a>
                   <a {{action 'clear'}}  class="btn btn-danger clearButton">
                    Clear
                </a>
            </div>
        </div>



    </div>



</div>