<div class="header">

</div>

<div class="row rowHeader">

    <div class="col-md-3 col-xs-3 col-sm-3">
        <div class="inputContainer">
            {{input class="form-control searchInput" placeholder="Search..." }}
        </div>


    </div>
    <div class="col-md-7 col-xs-7 col-sm-7">
        <div class="list-inline headerItemsContainer">
            <ul class="headerItemsList">
                <li class="list-inline-item">
                    {{#link-to 'viewcollection'}} View Collection {{/link-to}}
                </li>
                <li class="list-inline-item">

                    {{#if editingmode.editingMode}}
                    <a href="" {{action 'setEditModeFalse'}}> Turn Off Editing Mode </a>
                    {{else}}
                    <a href="" {{action 'setEditModeTrue'}}> Turn On Editing Mode</a>
                    {{/if}}


                </li>
                <li class="list-inline-item">
                    {{#link-to 'addmusic'}} Add New Music {{/link-to}}
                </li>
            </ul>

        </div>


    </div>


</div>


{{outlet}}