<h2 class="headerText">View Collection</h2>
<div class="row" style="margin:5px;">

    {{#each model as |album|}}
    <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
        {{album-card album=album}}

    </div>


    {{/each}}


</div>